<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/equipements">Équipements</a></li>
            <li><a href="/ajouter">Ajouter un équipement</a></li>
        </ul>
    </nav>
</header>
