<header>
    <nav>
        <div class="logo">
            <a href="/"><img class="logo-img" src="/css/FORVIA_Faurecia_Logo_White.png" alt="Logo" /></a>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/equipements">Équipements</a></li>
            <li><a href="/ajouter">Ajouter</a></li>
        </ul>
    </nav>
</header>
