<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/equipements">Équipements</a></li>
            <li><a href="/ajouter">Ajouter</a></li>
            <li><a href="/barcodes">Gestion des Codes-barres</a></li>
        </ul>
    </nav>
</header>
